@font-face {
    font-family: GothamBold;
    src: url("fonts/GothamBold.ttf");
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card h2 {
    font-size: 20px;
    margin: 0;
}

.card p {
    margin: 10px 0;
}

.InputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vw;
    background-position: 50%;
    background-size: 100%;
    background-color: black;
}

.InputBox form
{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.InputBox form input
{
    height: 5vw;
    width: 12vw;
    margin: 1vw;
    text-align: center;
    border-radius: 3vw;
    font-size: 1vw;
}

.InputBoxSubmitButton
{
    background-color: #191919;
    color: whitesmoke;
    margin-left: 50%;

}

.Header
{
    display: flex;
    flex-wrap:wrap;
    padding: 2vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
    align-items: center;
}

.Header h2
{
    margin-left: 1vw;
    font-size: 5vw;
    font-family: GothamBold;
}

.Header img
{
    width: 7vw;
    height: 7vw;
}

.InfoBox
{
    font-family: GothamBold;
    background-color: black;
    color: whitesmoke;

    margin: auto;
    margin-top: 1vw;
    padding: 1vw;
    width: 50%;

    border-radius: 1vw;
}

.InfoBox a
{
    color: #1ed760;
}

.Footer
{
    background-color: black;
    color: whitesmoke;
    font-family: GothamBold;
    padding: 1vw;
    margin-top: 1vw;
}

.DatasetElement
{
    margin: 0.5vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
    background-color: whitesmoke;
    justify-content: center;
    border-radius: 1vw;
    padding: 1vw;

    font-family: GothamBold;
}