<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Ranking AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="/images/spotifyLogo.ico">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body style="background-color: #1ed760; margin: 0;"">
    <div class="Header">
        <img src="{{ url_for('static', filename='images/spotifyLogo.png') }}" alt="Spotify Logo">
        <h2>Spotify Ranking AI</h2>
    </div>
    
    <div class="InputBox">
        <form id="inputForm" method="post">
            <input id="track_name", name="track_name", type="text", placeholder="Song Name">
            <input id="songDuration", name="songDuration", type="text", placeholder="Song Duration">
            <input id="artist(s)_name", name="artist(s)_name", type="text", placeholder="Song Artist">
            <input id="bpm", name="bpm", type="number", placeholder="Song BPM">
            <input id="key", name="key", type="text", placeholder="Song Key">
            <input id="releaseDate", name="releaseDate", type="date", placeholder="2018-07-22">
            <input id="in_spotify_playlists", name="in_spotify_playlists", type="number", placeholder="Spotify Playlists">
            <input id="streams", name="streams", type="number", placeholder="Spotify Streams">
            <input id="in_apple_playlists", name="in_apple_playlists", type="number", placeholder="Apple Playlists">
            <input id="in_apple_charts", name="in_apple_charts", type="number", placeholder="Apple Charts">
            <input id="in_deezer_playlists", name="in_deezer_playlists", type="number", placeholder="Deezer Playlists">
            <input id="in_deezer_charts", name="in_deezer_charts", type="number", placeholder="Deezer Charts">
            <input id="in_shazam_charts", name="in_shazam_charts", type="number", placeholder="Shazam Charts">
            <input id="danceability_%", name="danceability_%", type="number", placeholder="Danceability (%)">
            <input id="valence_%", name="valence_%", type="number", placeholder="Valence (%)">
            <input id="energy_%", name="energy_%", type="number", placeholder="Energy (%)">
            <input id="liveness_%", name="liveness_%", type="number", placeholder="Liveness (%)">
            <input id="speechiness_%", name="speechiness_%", type="number", placeholder="Speechiness (%)">
            <br>
            <input id="submitButton", name="submitButton", type="button", value="Submit" class="InputBoxSubmitButton">
        </form>
    </div>

    <script>
        function submitForm() {
            var formData = {
                "track_name": $('#track_name').val(),
                "artist(s)_name": $('#artist\\(s\\)_name').val(),
                "bpm": $('#bpm').val(),
                "key": $('#key').val(),
                "releaseDate": $('#releaseDate').val(),
                "in_spotify_playlists": $('#in_spotify_playlists').val(),
                "streams": $('#streams').val(),
                "in_apple_playlists": $('#in_apple_playlists').val(),
                "in_apple_charts": $('#in_apple_charts').val(),
                "in_deezer_playlists": $('#in_deezer_playlists').val(),
                "in_deezer_charts": $('#in_deezer_charts').val(),
                "in_shazam_charts": $('#in_shazam_charts').val(),
                "danceability_%": $('#danceability_\\%').val(),
                "valence_%": $('#valence_\\%').val(),
                "energy_%": $('#energy_\\%').val(),
                "liveness_%": $('#liveness_\\%').val(),
                "speechiness_%": $('#speechiness_\\%').val(),
            };
            $.ajax({
                type: 'POST',
                url: '/submit_form',
                data: JSON.stringify(formData),
                contentType: 'application/json;charset=UTF-8',
                success: function(response) {
                    console.log(response);

                    var songInfo = response.dynamic_song_info;
                    var songPlacement = response.dynamic_song_placement;
                    $('#resultName').text(songInfo);
                    $('#resultPlacement').text(songPlacement);
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }
        $(document).ready(function() {
            $('#submitButton').click(submitForm);
        });
    </script>

    <div class="InfoBox">
        <h2 id="resultName">{{ dynamic_song_info }}</h2>
        <p style="color: #1ed760", id="resultPlacement">{{ dynamic_song_placement}}</p>
    </div>

    <div class="InfoBox" style="margin-bottom: 1vw;">
        <h2>Don't know some information about your song?</h2>
        <p>Visit <a href="https://songbpm.com">SongBPM</a> and <a href="https://songstats.com/">SongStats</a>.</p>
    </div>

    <div class="InputBox">
        <div class="DatasetElement">
            <img src="{{ url_for('static', filename='images/DataInfo/MinorMajor.png') }}">
            <h2>Is the song in Minor or Major?</h2>
        </div>
        
        <div class="DatasetElement">
            <img src="{{ url_for('static', filename='images/DataInfo/KeyDistribution.png') }}">
            <h2>Song Keys?</h2>
        </div>

        <div class="DatasetElement">
            <img src="{{ url_for('static', filename='images/DataInfo/BpmDistribution.png') }}">
            <h2>BPM?</h2>
        </div>

        <div class="DatasetElement">
            <img src="{{ url_for('static', filename='images/DataInfo/TopArtists.png') }}">
            <h2>Top Artists?</h2>
        </div>

        

    </div>

    <div class="Footer">
        <p> RUAP projekt.<br>
            Marko Duka, Klara-Iva Gerić, Maja Halgaš, Dora Štern</p>
    </div>
</body>
</html>