<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Ranking AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="/images/spotifyLogo.ico">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    <script>
        function updateInfoBox() {
            $.ajax({
                url: '/get_dynamic_song_info',
                type: 'GET',
                success: function(response) {
                    // Update the content when the request is successful
                    $('#resultName').text(response.dynamic_song_info);
                    $('#resultPlacement').text(response.dynamic_song_placement);
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }
    </script>

</head>

<body style="background-color: #1ed760; margin: 0;"">

</body>